@use "variables"as var;


header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 99;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: var.$white-color;
  border-bottom: 1px solid #E5E7EB;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);

  .header-right {
    .nav-ul {
      gap:20px;
      flex-direction:row;

      .navBtn1 {
        font-size: 15px;
        line-height: 1.2;
        .new-ppt {
        padding: 8px 15px;
        background: var.$bg-color;
        border-radius: 8px;
        color: var.$white-color;
        
        &.disabled {
                  pointer-events: none;
                  cursor: default;
                  color: #6B7280;
                  background: #E5E7EB;
          }
        }

        .setGap {
          margin-right: 6px;
        }

        @media screen and (min-width: 1200px) and (max-width: 1720px) {
            font-size: 14px;           
          }
      }

      .navBtn2 {
        .new-ppt1 {            
          color: #374151;
          font-size: 14px;
          line-height: 1.4;
          font-weight: 500;
          
          @media screen and (min-width: 1200px) and (max-width: 1720px) {
            font-size: 13px;           
          }
        }

        .setGap1 {
          margin-right: 10px;
        }
      }
    }
  }
}
/*----header end ----*/